.section_one__Anna {
  background-color: $color_fon;

  .container_for_section_one__Anna {
    margin: 0 auto;
    max-width: 100%;
    display: flex;
    margin-top: 338px;
  }
  
}
.abu_bandit {
  color: red;
}
