// Шрифты
$font_main: "Comfortaa", sans-serif;
$font_h: "Roboto", sans-serif;

// Цвета
$color_white: #FFFFFF;
$color_gray: #93AEB9;
$color_fon: #F2E6D1;
$color_footer: #255765;
$accent: #D4C17F;
// Цвета для секции "Специалисты"
$color_chacolate: #4F4D4A;



