.section_one {
    width: 100%;
    background-image: url('/img/section1/section0ne.png');
    height: 970px;
    
}
.section_one_conteiner__h1 {
    padding-top: 370px;
    padding-left: 370px;

    h1 {
        color: #255765;
        font-size: 72px;
        font-weight: 700;
        line-height: 70px;

    }

}