.section_four {
  height: 1844px;
  width: 100%;
  background-image: url(../img/sectionBoris/lineTwo.png);
}
.wrapper_for_position {
  position: relative;
}

@mixin style_for_leaves {
  background-color: $color_chacolate;
  color: $color_white;
  font-family: $font_main;
  font-weight: 400;
  font-size: 20px;
  line-height: 22px;
  border-radius: 60px;
  position: absolute;
}

.item_one_for_section_four {
  width: 610px;
  height: 175px;
  padding: 33px 39px 30px 54px;
  top: 130px;
  left: 150px;
  transform: rotate(354deg);
}

.item_two_for_section_four {
  width: 510px;
  height: 140px;
  padding: 33px 39px 30px 54px;
  top: 300px;
  left: 850px;
  transform: rotate(365deg);
}

.item_three_for_section_four {
  width: 570px;
  height: 110px;
  padding: 21px 31px 23px 35px;
  top: 500px;
  left: 200px;
  transform: rotate(348deg);
}

.item_four_for_section_four {
  width: 630px;
  height: 170px;
  padding: 23px 19px 22px 35px;
  top: 600px;
  left: 850px;
  transform: rotate(365deg);
}

.item_five_for_section_four {
  width: 800px;
  height: 165px;
  padding: 27px 29px 23px 37px;
  top: 850px;
  left: 180px;
  transform: rotate(354deg);
}

.item_six_for_section_four {
  width: 580px;
  height: 120px;
  padding: 21px 41px 36px 41px;
  top: 1049px;
  left: 800px;
  transform: rotate(365deg);
}

.item_seven_for_section_four {
  width: 630px;
  height: 130px;
  padding: 18px 29px 23px 34px;
  top: 1200px;
  left: 200px;
  transform: rotate(346deg);
}

.item_eight_for_section_four {
  width: 630px;
  height: 215px;
  padding: 20px 20px 25px 36px;
  top: 1350px;
  left: 800px;
  transform: rotate(365deg);
}

.item_eight_for_section_four,
.item_seven_for_section_four,
.item_six_for_section_four,
.item_five_for_section_four,
.item_four_for_section_four,
.item_three_for_section_four,
.item_two_for_section_four,
.item_one_for_section_four {
  @include style_for_leaves;
}
