.section_three {
  width: 100%;
  height: 245px;
}

.wrapper_for_section_three {
//   font-family: $font_main;
  font-size: 20px;
  line-height: 25px;
  width: 1300px;
  position: absolute;
  top: 1853px;
  left: 166px;
  text-transform: uppercase;
  text-align: justify;
  color: $color_chacolate;
}
.wrapper_one_for_text_in_section_three {
  display: flex;

  p {
    width: 740px;
    font-weight: bold;
  }
}
.wrapper_two_for_text_in_section_three {
  display: flex;
  margin-top: 65px;

  justify-content: flex-end;
  p {
    width: 920px;
    font-weight: bold;
  }
}
