.section_one {
    width: 100%;
    background-image: url('../img/sectionMain/test.png');
    height: 2550px;
    background-color: $color_fon;
   
    background-repeat: no-repeat;
    
}
.section_one_conteiner__h1 {
    
    max-width: 760px;
    max-height: 240px;
    margin: 0 auto;
    padding: 230px;

    h1 {
        color: #255765;
        font-size: 72px;
        font-weight: 700;
        line-height: 70px;
        width: 100%;
        font-family: $font_h;

    }
}

